
body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0e100f;
    color: #fffce1;
    font-size: 2em;
    text-align: center;
    padding-bottom: 50px;
    overflow-x: hidden;
}
#big-box {
    width: 500px;
    height: 500px;
    background-color: #ddd;
    position: relative;
    margin: auto;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.box-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.box{
    display: flex;
    width: 100px;
    height: 100px;
    background: linear-gradient(to bottom, #00ff00, #008000);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#snap-point-1{
    position: absolute;
    align-content: center;
    align-items: center;
    align-self: center;
    left: 85px; 
    top: 240px;
    z-index: 999;
}
#icon{
    z-index: 99999;
    height: 50px;
    width: 50px;
}

.btn-refresh{
    color: #fffce1;
    font-size: large;
    background-color: #0e100f;
    border: 3px solid #fffce1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    --button-stroke: #fffce1;
    --button-hoverColor: #0e100f;
}

.hidden{
    display: none;
}

#wall1{
    width: 20px;
    height: 300px;
    background-color: #0e100f;
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 999;
}

.titulo{
    background-color: #fffce1;
    color: #0e100f;
}

.rotator{
    width: 10px;
    height: 100px;
    background-color: #0e100f;
    position: absolute;
    z-index: 999;
}
#rotator1{
    top: 0px;
    left: 205px;
}

#rotator2{
    top: 400px;
    left: 205px;
}

#red-box {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 999;
}
.back{
    z-index: -999;
    background-color: #fffce1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh;
    width: 100%;
    position: absolute;
    top: 38vh;
    left: 0;
    
}
.back-cube{
    width: 100px;
    height: 100px;
    background-color: #0e100f;
    z-index: -100;
    border-radius: 10px;
    top: 65vh;
    display: flex;
    position: absolute;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.loading-back{
    background-color: rgba(255, 255, 255, 0.7);
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 10vh;
    overflow: hidden;
    z-index: 1000px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}